@import url("styles.css");

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.navbar .logo {
  position: relative;
  border-radius: 100%;
  border: 1px solid var(--border-color);
  color: var(--primary-text);
  height: 42px;
  width: 42px;
  font-size: 24px;
  text-align: center;
}

.navbar .logo i {
  position: absolute;
  left: 8px;
  top: 8px;
}

.nav-links ul li {
  display: inline;
  margin: 1.5rem;
}

form .search-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

form .search-field input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  margin-right: 10px;
}

form .search-field input:focus {
  outline: none;
}

form .search-field input::placeholder {
  color: var(--placeholder-text);
}

form .search-field input:focus::placeholder {
  color: transparent;
}

form .search-field button {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  background-color: var(--primary-accent);
  color: var(--primary-text);
}

form .search-field button:hover {
  background-color: var(--primary-accent-hover);
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-switcher i {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  color: var(--primary-text);
  margin: 10px;
}

.theme-switcher i:hover {
  background-color: var(--primary-accent);
  border: 1px solid var(--primary-accent);
  color: var(--link-text);
}

.content {
  margin-top: 48px;
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: var(--secondary-bg);
}

.headline-image,
.headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
}

.heeadline-image img {
  width: 100%;
  border-radius: 5px;
}

.headline-section > * {
  margin-bottom: 20px;
}

.headline-section h1 {
  font-size: 3rem;
  color: var(--primary-text);
}

.headline-section p {
  font-size: 1.5rem;
  color: var(--primary-text);
}

.recipes {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

.recipes h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 20px;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
}

.recipe-card:nth-child(even) {
  transform: translateY(20px);
}

.recipe-card img {
  width: 100%;
  border-radius: 5px;
}

.recipe-card h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.recipe-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.recipe-card a {
  display: inline-block;
  margin-right: auto;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--secondary-accent);
  border-radius: 5px;
  background-color: var(--secondary-accent);
  color: var(--link-text);
  transition: ease-in-out 0.5s;
  text-decoration: none;
}

.recipe-card a:hover {
  transform: scale(1.1);
}
