@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* Dark mode colors */
:root {
  --primary-bg: #1c1c1c;
  --primary-text: #f1f1f1;
  --primary-accent: #ff9800;

  --secondary-bg: #292929;
  --secondary-text: #d4d4d4;
  --secondary-accent: #ff5722;

  --placeholder-text: #6f6f6f;

  --border-color: #3a3a3a;
  --highlight-bg: #373737;
}

/* Light mode colors */
.light-theme {
  --primary-bg: #ffffff;
  --primary-text: #1c1c1c;
  --primary-accent: #ff9800;

  --secondary-bg: #f9f9f9;
  --secondary-text: #4a4a4a;
  --secondary-accent: #ff5722;

  --placeholder-text: #9e9e9e;

  --border-color: #e0e0e0;
  --highlight-bg: #f2f2f2;
}

 a {
  text-decoration: none;
 }

 ul {
  list-style-type: none;
 }
